body{
    padding: 0;
    margin: 0;
}
.Nav_Logo{
    height: 80px;
    width: 80px;
    background-image: url(./imgs/LOGO.jpg);
    background-size: cover;
    background-position: center;
}
.STore_nav{
    height: 7%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(242,234,232);
}

.Caty{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Caty div{
    width: 100px;
   
}
.Caty span{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(131,39,41);
}
.Caty p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    color: rgb(131,39,41);
}
.DRCTBTN{
    margin: 4% 0% ;
    display: flex;
    justify-content: center;
    gap: 2%;
    color: rgb(252, 250, 250);
}
.DRCTBTN button{
    width: 17%;
    height: 7vh;
    display: flex;
    align-items: center;
    padding-left:5% ;
    border: none;
    box-sizing: border-box;
    border-radius: 5% 5% 5% 5%;
    color: rgb(131,39,41);
}
.WELCM div{
    display: flex;
    justify-content: center;
    color: (71,20,61);
}
.WELCM p{
    margin-top: -1%;
    font-size: 1rem;
}
.WELCM h1{
    margin-top: -1%;
    font-size: 40px;
    color: rgb(71,20,61);
}
.SRCH {
    display: flex;
    justify-content:space-around;
    align-items:center;
    border: 2px solid black;
    border-radius: 15px;
    width: 32%;
    height: 50px;
    margin: 0 auto;
    padding: 0%;
    color: rgb(131,39,41);
    
}
.SRCH2{
    margin-left: -20%;
    color:  rgb(121, 121, 121);
    
}
.SRCH1{
    margin-left: -10%;
}
.SRCH3{
    margin-right: -10%;
}
.phot{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1%;
    margin :0 8%  ;
    /* height: auto; */
    /* border:1px black solid ; */
}
.phot div{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236,236,236);
    border-radius: 15%;
}
.phot div p{
    text-align: center;
    /* background-color: blue; */
    margin-top: 2%;
}
  
.phot>div img{
    width: 80%;
    height: 50%;
    /* background-color: burlywood; */
}

.hi h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(71,20,61);
}


.EXplore {
display: flex;
gap: 2%;
width: 80%;
margin: auto;
justify-content: center;
align-items: center;
}


.EXplore img {
width: 98%; 
height: 80vh; 
border-radius: 20px;

}
.mk46{
width: 100%;
height: 60px;
/* border: 1px solid black; */
display: flex;
justify-content: center;
font-size: 2rem;
}
#Srch4store{
width: 50%;
height: 100%;
border-radius: 10px;

}

@media all and (max-width:667px) {
.Nav_Logo{
    display: none;
}
.Caty{
    display: grid;
    grid-template-areas: "b1 b6 b7";
}
.Caty  div:nth-child(1){
grid-area: b1;
}
.Caty div:nth-child(2){
grid-area: b2;
display: none;
}
.Caty div:nth-child(3){
grid-area: b3;
display: none;
}
.Caty div:nth-child(4){
grid-area: b4;
display: none;
}
.Caty div:nth-child(5){
grid-area: b5;
display: none;
}
.Caty div:nth-child(6){
grid-area: b6;

}
.Caty div:nth-child(7){
grid-area: b7;

}
.DRCTBTN{
display: none;
}
.DRCTBTN button:nth-child(1) {
    grid-area: a1;
}
.DRCTBTN button:nth-child(2) {
    grid-area: a2;
}
.DRCTBTN button:nth-child(3) {
    grid-area: a3;
}
.DRCTBTN button:nth-child(4) {
    grid-area: a4;
}
.SRCH{
/* display: none; */
}
.phot {
display: grid;
/* height: 1000px; */
}

.phot  div:nth-child(1){
grid-area: c1;
}
.phot div:nth-child(2){
grid-area: c2;

}
.phot div:nth-child(3){
grid-area: c3;

}
.phot div:nth-child(4){
grid-area: c4;

}
.phot div:nth-child(5){
grid-area: c5;

}
.phot div:nth-child(6){
grid-area: c6;

}
.phot div:nth-child(7){
grid-area: c7;

}
.phot div:nth-child(8){
grid-area: c8;

}
.phot div:nth-child(9){
grid-area: c9;

}
.phot div:nth-child(10){
grid-area: c10;

}
#LstPic{
display: none;
}
#exp2{
margin-left:8% ;
}
}